#html5-watermark {
    display: none !important;
}

.container{
    margin-top:100px;
}

#counter-container {
    background: url(/img/counter-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    padding: 100px 0;
}

#counter-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.72);
}

#counter-container .title {
    position: relative;
}

#counter-container .title h2 ,#counter-container .title p {
    color: #fff;
}

/*
  #counter .block {
    margin-bottom: 20px;
  }
  #counter .block i {
    display: block;
    font-size: 40px;
    line-height: 1;
    padding-bottom: 20px;
    color: #80d6a3;
  }
  #counter .block span {
    line-height: 1;
    display: inline-block;
    color: #fff;
  }
  #counter .block .count-text {
    font-size: 36px;
  }
  #counter .block p {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    padding-top: 20px;
  }
*/


  /* New Counter Stuff */

.counter-box {
	display: block;
	background: #f6f6f6;
	padding: 40px 20px 37px;
	text-align: center
}

.counter-box p {
	margin: 5px 0 0;
	padding: 0;
	color: #909090;
	font-size: 18px;
	font-weight: 500
}

.counter-box i {
	font-size: 60px;
	margin: 0 0 15px;
	color: #d2d2d2
}

.counter { 
	display: block;
	font-size: 32px;
	font-weight: 700;
	color: #666;
	line-height: 28px
}

.counter-box.colored {
      background: #3acf87;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
	color: #fff
}  

#portfolio .mix div:hover .overlay {
    opacity: 1;
  }
  #portfolio .mix div:hover .overlay i {
    top: 40%;
    opacity: 1;
  }
  #portfolio .mix div:hover .overlay h3 {
    bottom: 50%;
    opacity: 1;
  }
  #portfolio .mix div .overlay {
    position: absolute;
    top: 23px;
    left: 23px;
    bottom: 23px;
    right: 23px;
    background: rgba(128, 214, 163, 0.85);
    transition: 0.3s;
    text-align: center;
    opacity: 0;
  }
  #portfolio .mix div .overlay h3,
  #portfolio .mix div .overlay i {
    color: #fff;
    
  }
  #portfolio .mix div .overlay h3 {
    bottom: 30%;
    left: 50%;
    opacity: 0;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    transition: 0.3s;
    position: absolute;
    transition-delay: 0.1s;
    transform: translateX(-50%);
  }
  #portfolio .mix div .overlay i {
    top: 30%;
    opacity: 0;
    left: 50%;
    font-size: 50px;
    transition: 0.3s;
    transition-delay: 0s;
    position: absolute;
    transform: translate(-50%, 50%);
  }
  #portfolio .mix div .overlay .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title {
    text-align: center;
    padding-bottom: 70px;
  }
  .title h2 {
    color: #333;
    font-size: 25px;
    padding-bottom: 25px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
  }
  
  .title h2:before {
      content: '';
      width: 40px;
      height: 2px;
      background: #80d6a3;
      position: absolute;
      top: 12px;
      left: -60px;
  }
  .title h2:after {
      content: '';
      width: 40px;
      height: 2px;
      background: #80d6a3;
      position: absolute;
      top: 12px;
      right: -60px;
  }
  .title p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #817C7C;
  }  